.board_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-items {
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-item p {
    white-space: nowrap;
}