.board_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-items {
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-item p {
    white-space: nowrap;
}

@media all and (min-width: 615px) {

    .lists_main {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .lists_main > * {
        flex: 1;
    }

    .mobile {
        display: none;
    }
}

@media all and (max-width: 614px) {
    .non-mobile {
        display: none;
    }
}