<ng-template #listCreateForm let-status="status">
    <form collapse
        [formGroup]="newListItem"
        (submit)="addNewList(id, status)"
        ngClass="list_item relative">
        <input
            formControlName="title"
            ngClass="list_item_title no-default" type="text" placeholder="Title">
        <input
            formControlName="description"
            ngClass="list_item_description no-default" type="text" placeholder="Description">
        <button type="submit" [disabled]="!newListItem.valid" ngClass="no-default padding-1">Create Note</button>
    </form>
</ng-template>

<!-- NON MOBILE -->
<div ngClass="non-mobile lists_main width-wrap padding-block-1">
    <ng-container *ngFor="let status of allStatus">
        <list-column [status]="status">
            <ul ngClass="no-default">
                <ng-container *ngFor="let t of lists">
                    <li *ngIf="t.status === status" ngClass="list_item_wrapper relative">
                        <div (dragstart)="clickAndDrag($event)" ngClass="draggable" draggable="true">
                            <list-item-card (deleteItem)="deleteList(t.id)" [item]="t"></list-item-card>
                        </div>
                </ng-container>
            </ul>
            <ng-container collapse
                *ngTemplateOutlet="listCreateForm; context: { status: status }"></ng-container>
        </list-column>
    </ng-container>
</div>

<!-- MOBILE -->
<div ngClass="mobile background-secondary">
    <div ngClass="width-wrap">
        <app-tabs
            (tabEvent)="active=$event" 
            [tabs]="['todo', 'doing', 'done']"></app-tabs>
    </div>
</div>


<div ngClass="mobile width-wrap padding-block-1">
    <div ngClass="lists_main">
        <list-column [status]="allStatus[active]">
            <ul ngClass="no-default">
                <ng-container *ngFor="let t of lists">
                    <li *ngIf="t.status === allStatus[active]" ngClass="list_item_wrapper relative">
                        <list-item-card [item]="t"></list-item-card>
                    </li>
                </ng-container>
            </ul>
            <ng-container collapse
                *ngTemplateOutlet="listCreateForm; context: { status: allStatus[active] }"></ng-container>
        </list-column>
    </div>
</div>