<div ngClass="main_nav border-bottom-light background-secondary">
  <div ngClass="nav_wrap width-wrap">
    <app-navigation>
      <ng-container left>
        <div class="cursor-pointer" ngClass="nav_logo">
            <div routerLink="/dashboard">
                <img src="../../../../assets/logo.svg" height="20" alt="logo_for_othello">
            </div>
        </div>
      </ng-container>
      <ng-container right>
        <ul ngClass="no-default">
            <li ngClass="main_nav_link"><a ngClass="no-default cursor-pointer" routerLink="/user/login/">login</a></li>
        </ul>
      </ng-container>
    </app-navigation>
  </div>
</div>
<!-- <div [@routeAnimations]="getRouteAnimationData()"> -->
<router-outlet></router-outlet>
<!-- </div> -->
